body {
    background-color: rgb(68, 177, 132);
}
h1, p {
    color: white; 
    font-family: helvetica, arial, sans-serif;
}
a:link {color: rgba(0, 35, 61, 0.85);
}
a:visited {color: rgb(245, 208, 76);
}