@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

.clearfix:after {
    visibility:hidden;
    display:block;
    content:" ";
    clear:both;
    height:0;
    font-size:0;
}

* {Box-sizing: Border-box}

body {
	font-family:'Roboto',sans-serif;
	font-size:16px;
	color:#000;
	letter-spacing:.26px;
	word-wrap:normal;
}
a {
	text-decoration:none;
	color:#000;
}
h1 { /*(only in the nav)*/
	width:100%;
	text-align:center;
	font-size:2.619em;
	word-spacing:.1em;
	letter-spacing:.66px;
	font-family:'Roboto Slab', serif;
}
h2, h3 { /*(h2 trending, main header, and in the news; h3 all other subheaders)*/
	font-family:'Roboto Slab', serif;
	word-spacing:.05em;
	
}
h3 {
	letter-spacing:.1316px
}
header {
	padding:5px 0 5px 5px;
	background-color:#000;
	color:#fffffa;
	width:100%;
	position:fixed;
	top:0%;
	height:3em;
	z-index:2;
}

nav {
	min-width:45px;
	width:2%;
	position:absolute;
	top:5px;
}

li { /*(right side articles)*/
}

.hide, .right { /*(wrappers for right and left articles)*/
	padding:0 5px;
}

.hide h2, .right h2 {
/*	background-color:blue;
*/	text-transform:uppercase;
	font-size:1.05em;
	margin-top:.5em;
	letter-spacing:.5px;
	font-weight:700;

}
.hide img{
	width:40%;
	vertical-align:middle;
	min-width:100px;
}
.hide a, .right div{
/*	background-color:green;
*/	display:block;
	border-bottom:1px solid #d3d3d3;
	padding:.75em 0;
}

.hide h3 {
	float:right;
	word-wrap:break-word;
	width:55%;
}
.more {
	display:none;
}
.wrapper {
	padding-top:3em;
	height:auto;
	background-color:#fffffa;
}
.wrapper aside{
	float:left;
	width:20%;
}

.articles {
	float:left;
	width:80%;
}

main, .bottom{
	border-right:2px solid #d3d3d3;
	border-left:2px solid #d3d3d3;
}
main {
	/*height:75vh;*/
/*	background-color:red;
*/	float:left;
	width:74.7%;
	padding:1em 1.5em;
}

main img {
	float:left;
	width:55%;
	padding-right:1.5em;
/*	padding:1em 1.5em;
*/}

img + div{
/*	background-color:black;
*/	float:left;
	width:45%;
}
main h2 {
	display:block;
	font-size:3em;
	margin-bottom:.25em;
	letter-spacing:.1316px
}

main p {
	line-height:1.1316em;
	font-size:1.3em;
	word-spacing:.05px;
	letter-spacing:.13px;
}

ol {
	padding:.75em 1em 0 1em;
	float:left;
/*	background-color:blue;
*/	width:50%;
	list-style-type:disc;
	letter-spacing:.33px;
}
ol li {
	margin-bottom:.75em;
	color:#333333;
}
main a{
	color:#333333;
}

.articles aside:nth-of-type(1){
/*	background-color:blue;
*/	float:right;
	width:25.3%;
}
.articles aside:nth-of-type(2) {
/*	background-color:black;
*/	position:relative;
	width:74.7%;
	z-index:1;
}

.right h3, .bottom h3{
	font-weight:700;
	font-size:1.316em;
	margin-bottom:.25em;
}
.right p, .bottom p{
	font-size:.9em;
	line-height:1.1em;
}

.bottom div {
	width:50%;
	float:left;
	padding:1em 1.5em 0 1.5em;
}
.bottom img {
	width:100%;
	padding-bottom:.5em;

}
@media only screen and (min-width:1201px) {
	.body {
		height:100vh; /*(on the kindle fire, how to get the body to show as the vh?)*/
	}
}


@media only screen and (max-width:1200px) {
	.hide {
		display:none;
	}
	.articles {
		width:98.5%;
	}
	.more {
		display:block;
		float:left;
		height:100vh;
		width:1.5%;
		color:white;
		background-color:#000;
	}

	.more a{
		display:block;
		transform:rotate(270deg);
		left:-.5em;
		position:fixed;
		top:200px;
		background-color:#000;
		color:#fff;
		height:1.5em;
		padding:5px;
		border-radius:0px 0px 5px 5px;
		z-index:3;
		font-size:16px;
	}
	.wrapper {
		background-color:#000;
		height:auto;
	}
	.articles {
		background-color:#fff;
	}
	main, .bottom{
		border-left:none;
	}

}


@media only screen and (max-width:720px) {

	.articles {
		padding-left: calc(1.5em + 1.5%);
		padding-right:1em;

	}
	main,.articles aside:nth-of-type(2)  {
		border-right:none;
	}
	main, .articles aside:nth-of-type(1),.articles aside:nth-of-type(2) {
		width:100%;
		padding:1em 0 0 0;
	}

	.bottom div {
		float:none;
		width:100%;
		padding:0 0 1em 0;
	}


	img + div {
		float:none;
		clear:both;
		width:100%;
	}
	main img {
		width:45%;
		display:block;
		margin:0 auto;
		float:none;
		padding:0;
	}
	main h2 {
		font-size:2em;
	}

	main > div{
		border-bottom:1px solid #d3d3d3;

	}
	.right h2{
		margin:0;
	}
	nav {
		top:10;
	}

}

@media only screen and (max-width:360px) {
	h1 {
		font-size:2em;
	}
	.right h3, .bottom h3 {
		font-size:1.25em;
	}


	.