body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:452px;
  top:172px;
  width:572px;
  height:44px;
  font-family:'AvenirNext-Bold', 'Avenir Next Bold', 'Avenir Next';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:44px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  white-space:nowrap;
}
