body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1140px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:37px;
  top:50px;
  width:523px;
  height:704px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:704px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:596px;
  top:90px;
  width:544px;
  height:477px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:477px;
}
#u3 {
  position:absolute;
  left:2px;
  top:230px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
